@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'normalize';
@import 'reset';

body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  padding-top: 18px;
  background: #202a40;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-li {
  display: inline-block;
  list-style-type: none;
  padding-left: 40px;
}

.nav-li-find {
  padding-left: 27px;
}

.nav-li-button {
  padding-left: 22px;
}

.find_input {
  background: url("../images/search.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  width: 45px;
  height: 22px;
  background-position-x: 24px;
  border-left: #00cbbe solid 1px;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px 0 20px;
}

.nav-item {
  color: #a6b8be;
  &:hover
  {
    color: #00ccbf;
    transition: .6s;
  }
}

.button {
  color: #ffc501;
  background: #ff0051;
  border: none;
  border-radius: 15px;
  padding: 10px 35px 10px 40px;
  font-weight: 500;
  outline: none;
  &:hover {
    color: #fce941;
    background-color: #c40b46;
    transition: .6s;
  }
}

.container {
  text-align: center;
  padding: 150px 0 145px 0;
}

.header-title {
  color: #f0f8fb;
  font-size: 51px;
  padding-bottom: 10px;
  font-weight: 300;
}

.header-subtitle {
  color: #a8b9c0;
  padding-bottom: 35px;
}

.header-button {
  padding: 15px 60px 15px 60px;
  border-radius: 20px;
}

           /* services */

.services {
  width: 100%;
}

.title-wrapper {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 68px;
}

.title {
  color: #1a2940;
  font-size: 35px;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 20px;
}

.subtitle {
  color: #a8b9c0;
  font-weight: 300;
  text-transform: uppercase;
  &:after {
    display: flex;
    content: "";
    width: 150px;
    height: 1px;
    background: #00cbbe;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.service-wrapper {
  display: flex;
  justify-content: space-between;
}

.service {
  width: 100%;
  max-width: 337px;
  text-align: center;
}

.service-picture {
  padding-bottom: 35px;
}

.service-title {
  color: #ffc501;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.service-text {
  color: #a8b9c0;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 65px;
}

              /* portfolio */

.portfolio {
  width: 100%;
  background: #eef7fa;
  padding-bottom: 60px;
}

.portfolio-navbar {
  justify-content: center;
  padding-bottom: 58px;
}

.portfolio-nav-item {
  padding: 15px 24px 19px 20px;
  background: inherit;
  border-radius: 10px;
  &:hover {
    color: #ffc501;
    background: #ff0051;
    border: none;
    border-radius: 10px;
    padding: 15px 24px 19px 20px;
    font-weight: 400;
    transition: .6s;
  }
}

.portfolio-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 28px;
}

.portfolio-project {
  width: 270px;
  height: 200px;
  background: white;
  margin-bottom: 30px;
}

.button-wrapper {
  text-align: center;
}

                            /* About us */

.text {
  color: #a8b9c0;
  font-weight: 300;
  padding-top: 35px;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 100%;
  max-width: 380px;
  padding-top: 40px;
}

.info-text {
  padding: 0 0 20px 0;
}

                                           /* meet the team */


.meet-the-team {
  background: #eef7fa;
}

.meet-the-team-text {
  padding: 0;
}

.meet-the-team-title {
  color: #ffc501;
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.member {
  width: 100%;
  max-width: 270px;
  text-align: center;
  background: #ffffff;
}

.member-photo {
  width: 270px;
  height: 220px;
}

.member-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #00d6cb;
}

.blockquote {
  padding: 35px 35px 40px 30px;
}

                                                /* clients */

.clients-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 35px 52px 35px;
}


                                               /* advertise */

.advertise {
  background: #202a40;
}

.advertise-title{
  color: #ffffff;
}

.advertise-text {
  padding: 0 0 50px 0;
}

                                                  /* blog */

.stories-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.stori {
  width: 100%;
  max-width: 370px;
}

.stori-image {
  width: 370px;
  height: 135px;
  background: #eef7fa;
}

.stori-date {
  font-size: 13px;
  font-weight: 300;
  color: #a8b9c0;
  padding: 20px 0 15px 0;
}

.stori-title {
  font-size: 20px;
  color: #1a2940;
}

.button-more {
  margin-bottom: 55px;
}

.newsletter {
  background: #ffc835;
}

.wrapper-newsletter {
  padding: 20px 100px 20px 110px;
  display: flex;
  justify-content: space-between;
  line-height: 37px;
}

.sentence {
  color: #1a2940;
  font-size: 20px;
}

.email {
  width: 440px;
  outline: none;
  border: none;
  border-bottom: #ffffff solid 2px;
  background: inherit;
  color: #ffffff;
  &::placeholder {
    color: #ffffff;
  }
}

.button-subscribe {
  background: #1a2940;
  &:hover {
    background: #ffc835;
    border: 1px solid #1a2940;
    color: #1a2940;
    padding: 9px 34px 9px 39px;
    transition: .7s;
  }
}

                                    /* footer */

.footer {
  background: #1a2940;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 50px 0;
}

.first-column {
  max-width: 340px;
}

.footer-logo {
  padding-bottom: 30px;
}

.footer-info {
  padding-bottom: 75px;
}

.footer-text {
  font-size: 13px;
  color: #a8b9c0;
  line-height: 25px;
}

.creator-link {
  color: #00c7c0;
  font-size: 13px;
  &:hover {
    color: #0f6e6b;
    transition: .6s;
  }
}

.company-link {
  font-size: 13px;
  color: #ffc501;
}

.footer-li {
  padding-bottom: 27px;
}

.footer-list-title {
  font-size: 15px;
  color: #f0f8fb;
}

.footer-list-link {
  font-size: 13px;
  color: #a8b9c0;
}

.forth-column {
  max-width: 370px;
}

.email-button {
  color: #ffffff;
  font-weight: 400;
  padding: 16px 126px 16px 112px;
  border-radius: 20px;
  margin: 40px 0 40px 0;
  &:hover {
    color: #c2c2c2;
  }

}

.social-link {
  padding-right: 11px;
}
