doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    div.header
      div.content
        div.navbar
          div.logo
            a.logo-link(href="#")
              img.logo-img(src="images/Logo.png" alt="Bondi logo")
          ul.nav
            li.nav-li
              a.nav-item(href="#") Home
            li.nav-li
              a.nav-item(href="#") Services
            li.nav-li
              a.nav-item(href="#") Portfolio
            li.nav-li
              a.nav-item(href="#") About
            li.nav-li
              a.nav-item(href="#") Contact
            li.nav-li.nav-li-find
              form(method="get")
                input.find_input(type="search" name="search")
            li.nav-li.nav-li-button
              button.button Login
        div.container
          div.header-title Taste the Creativity
          p.header-subtitle We make awesome graphic and web design
          button.button.header-button Get Started

                  <!-- Services -->

    div.services
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title We are Good at
          p.subtitle SOME OF THEASE STUFF UNDER
        div.service-wrapper
          div.service
            img.service-picture(src="images/picture1.png" alt="Service picture")
            div.service-title GRAPHIC DESIGN
            p.service-text.
               Pellentesque in ipsum id orci porta dapibus.
               Vivamus magna justo, lacinia eget consecte-
               tur sed, convallis at tellus.
          div.service
            img.service-picture(src="images/picture2.png" alt="Service picture")
            div.service-title WEB DESIGN
            p.service-text.
              Pellentesque in ipsum id orci porta dapibus.
              Vivamus magna justo, lacinia eget consecte-
              tur sed, convallis at tellus.
          div.service
            img.service-picture(src="images/picture3.png" alt="Service picture")
            div.service-title APP DESIGN
            p.service-text.
              Pellentesque in ipsum id orci porta dapibus.
              Vivamus magna justo, lacinia eget consecte-
              tur sed, convallis at tellus.

                    <!-- portfoilio -->

    div.portfolio
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title We Make This
          p.subtitle PREPARE TO BE AMAZED
        div.navbar.portfolio-navbar
          ul.nav
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") All
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Design
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Code
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Photography
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Apps
        div.portfolio-projects
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
        div.button-wrapper
          button.button I WANT MORE...

                          <!-- about us -->
    div.about-us
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title Some Stuff About Us
          p.subtitle THE GREAT TEAM
