doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    div.header
      div.content
        div.navbar
          div.logo
            a.logo-link(href="#")
              img.logo-img(src="images/Logo.png" alt="Bondi logo")
          ul.nav
            li.nav-li
              a.nav-item(href="#") Home
            li.nav-li
              a.nav-item(href="#") Services
            li.nav-li
              a.nav-item(href="#") Portfolio
            li.nav-li
              a.nav-item(href="#") About
            li.nav-li
              a.nav-item(href="#") Contact
            li.nav-li.nav-li-find
              form(method="get")
                input.find_input(type="search" name="search")
            li.nav-li.nav-li-button
              button.button Login
        div.container
          div.header-title Taste the Creativity
          p.header-subtitle We make awesome graphic and web design
          button.button.header-button Get Started

                  <!-- Services -->

    div.services
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title We are Good at
          p.subtitle SOME OF THEASE STUFF UNDER
        div.service-wrapper
          div.service
            img.service-picture(src="images/picture1.png" alt="Service picture")
            div.service-title GRAPHIC DESIGN
            p.service-text.
               Pellentesque in ipsum id orci porta dapibus.
               Vivamus magna justo, lacinia eget consecte-
               tur sed, convallis at tellus.
          div.service
            img.service-picture(src="images/picture2.png" alt="Service picture")
            div.service-title WEB DESIGN
            p.service-text.
              Pellentesque in ipsum id orci porta dapibus.
              Vivamus magna justo, lacinia eget consecte-
              tur sed, convallis at tellus.
          div.service
            img.service-picture(src="images/picture3.png" alt="Service picture")
            div.service-title APP DESIGN
            p.service-text.
              Pellentesque in ipsum id orci porta dapibus.
              Vivamus magna justo, lacinia eget consecte-
              tur sed, convallis at tellus.

                    <!-- portfoilio -->

    div.portfolio
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title We Make This
          p.subtitle PREPARE TO BE AMAZED
        div.navbar.portfolio-navbar
          ul.nav
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") All
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Design
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Code
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Photography
            li.nav-li
              a.nav-item.portfolio-nav-item(href="#") Apps
        div.portfolio-projects
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
          div.portfolio-project
        div.button-wrapper
          button.button I WANT MORE...

                          <!-- about us -->
    div.about-us
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title Some Stuff About Us
          p.subtitle THE GREAT TEAM
          p.text
            |Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit,eget tincidunt nibh
            br
            |pulvinar a. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
            br
            |Donec sollicitudin molestie malesuada.
        div.info-wrapper
          div.info
            div.title Retina Design
            p.text.info-text.
              Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
              Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            p.text.info-text.
              Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit,
              eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
              Proin eget tortor risus. Donec sollicitudin molestie malesuada.
            button.button OREDER ME ONE
          img(src="images/MacBook.png" alt="MacBook")
    div.meet-the-team
      div.content
        div.title-wrapper
          div.title.meet-the-team-title Meet the Team
          p.text.meet-the-team-text
            |Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit,
            |eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.Proin
            br
            |eget tortor risus. Donec sollicitudin molestie malesuada.
        div.team-wrapper
          div.member
            div.member-photo
              img(alt="member photo")
            p.member-name Luke Skywalker
            p.text.blockquote “I don't understand how we got by those troops. I thought we were dead.“
          div.member
            div.member-photo
              img(alt="member photo")
            p.member-name Obi-Wan Kenobi
            p.text.blockquote “Your clones are very impressive. You must be very proud”
          div.member
            div.member-photo
              img(alt="member photo")
            p.member-name Princess Leia
            p.text.blockquote.
              “I don't know who you are or where you came from,
               but from now on you'll do as I tell you, okay?”
          div.member
            div.member-photo
              img(alt="member photo")
            p.member-name Yoda
            p.text.blockquote.
              “Do not assume anything Obi-Wan. Clear your mind must be if you are to discover
               the real villains behind this plot.”

                                          <!-- clients -->

    div.clients
      div.content
        div.clients-wrapper
          img.client-logo(src="images/Logo 1.png" alt="client logo")
          img.client-logo(src="images/Logo 2.png" alt="client logo")
          img.client-logo(src="images/logo 3.png" alt="client logo")
          img.client-logo(src="images/Logo 4.png" alt="client logo")
          img.client-logo(src="images/Logo 1.png" alt="client logo")
          img.client-logo(src="images/Logo 2.png" alt="client logo")

          <!-- advertise -->

    div.advertise
      div.content
        div.title-wrapper
          div.title.advertise-title Start Your Project Now
          p.text.advertise-text Leave your description and we start the engine.Don't worry,you can cancel anytime
          button.button START PROJECT

           <!-- blog -->
    div.blog
      div.content
        div.title-wrapper
          img.title-logo(src="images/title-logo.png" alt="Title logo")
          div.title Read Our Blog
          p.subtitle NEW STORIES
        div.stories-wrapper
          div.stori
            div.stori-image
            p.stori-date January 17,2017
            div.stori-title Some Awesome Blog Title Here
          div.stori
            div.stori-image
            p.stori-date January 17,2017
            div.stori-title Some Awesome Blog Title Here
          div.stori
            div.stori-image
            p.stori-date January 17,2017
            div.stori-title Some Awesome Blog Title Here
        div.button-wrapper
          button.button.button-more MORE STORIES

          <!-- newsletter -->

    div.newsletter
      div.content
        div.wrapper-newsletter
          p.sentence Subscribe to our Newsletter:
          form
            input.email(type="email" placeholder="Enter email Address")
          button.button.button-subscribe Subscribe

          <!-- footer -->
    div.footer
      div.content
        div.footer-wrapper
          div.first-column
            div.footer-logo
              img.logo-img(src="images/Logo.png" alt="Bondi logo")
            div.footer-info
              p.footer-text.
                Pellentesque in ipsum id orci porta dapibus. Vivamus magna
                justo, lacinia eget consectetur sed, convallis at tellus.
            div.footer-copyright
              p.footer-text Created by
                a.creator-link(href="#") Graphberry
                |Belgrade,Serbia
              p.footer-text &copy; 2017 -
                a.company-link(href="#") Bondi.Inc
          div.second-column
            ul.footer-list
              li.footer-li
                a.footer-list-title(href="#") Link
              li.footer-li
                a.footer-list-link(href="#") Home
              li.footer-li
                a.footer-list-link(href="#") Our Services
              li.footer-li
                a.footer-list-link(href="#") Portfolio
              li.footer-li
                a.footer-list-link(href="#") Testimonials
              li.footer-li
                a.footer-list-link(href="#") Support
              li.footer-li
                a.footer-list-link(href="#") Terms and Conditions
          div.third-column
            ul.footer-list
              li.footer-li
                a.footer-list-title(href="#") About Us
              li.footer-li
                a.footer-list-link(href="#") Sign In
              li.footer-li
                a.footer-list-link(href="#") Register
              li.footer-li
                a.footer-list-link(href="#") About Us
              li.footer-li
                a.footer-list-link(href="#") Blog
              li.footer-li
                a.footer-list-link(href="#") Contact Us
          div.forth-column
            p.footer-list-title.footer-li Contact Us
            p.footer-text.
              Get in touch with us via mail phone.We are waiting for
              your call or message
            button.button.email-button graphberry@gmail.com
            a.social-link
              img.social-logo(src="images/fb.png")
            a.social-link
              img.social-logo(src="images/tw.png")
            a.social-link
              img.social-logo(src="images/g.png")
            a.social-link
              img.social-logo(src="images/bb.png")
